h1 {
    text-decoration: none;
}

ul{
    display: flex;
    width: 80%;
    list-style: none;
    justify-content: space-around;
    margin-right: 15px;
    
    
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #f9003d;
    height: 60px;
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: end;
  
}